@model ICollection<Web.ViewModel.TournamentViewModels>

@{
    var url = "https://localhost:44372/Tournament/Details";
    ViewData["Title"] = "Tournaments";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

@if (Model == null)
{
    <div class="panel-heading">
        <h2>Aun no hay torneos</h2>
         @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
         { 
            <a asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle-fill"></i> Add New Tournament
            </a>
          }
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    { 
                        <a asp-action="Create" class="btn btn-primary">
                            <i class="bi bi-plus-circle-fill"></i> Add New Tournament
                        </a>
                    }
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th>
                                    StartDate
                                </th>
                                <th>
                                    EndDate
                                </th>
                                <th>
                                    LogoPath
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    IsActive
                                </th>
                                <th>
                                    # Groups
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class='clickable-row' data-href='@url/@item.Id'>
                                        @item.StartDateLocal
                                    </td>
                                    <td class='clickable-row' data-href='@url/@item.Id'>
                                        @item.EndDateLocal
                                    </td>
                                    <td class='clickable-row' data-href='@url/@item.Id'>
                                        @if (!string.IsNullOrEmpty(item.LogoPath))
                                        {
                                            <img src="@Url.Content(item.LogoPath)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                                        }
                                    </td>
                                    <td class='clickable-row' data-href='@url/@item.Id'>
                                        @item.Name
                                    </td>
                                    <td class='clickable-row' data-href='@url/@item.Id'>
                                        @item.IsActive
                                    </td>
                                    <td class='clickable-row' data-href='@url/@item.Id'>
                                        @item.Groups.Count
                                    </td>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    { 
                                        <td>
                                            <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">
                                                <i class="bi bi-trash-fill"></i>
                                            </button>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}


<partial name="_DeleteDialog" />

<partial name="_Alert" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Tournament/Delete/' + item_to_delete;
            });
        });

        jQuery(document).ready(function ($) {
            $('.clickable-row').css('cursor', 'pointer');
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
}